/* You can add global styles to this file, and also import other style files */
:root{
  font-size: 62.5%; /* 1rem = 10px */

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: hsla(46, 32%, 92%, 0.951);
  height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
