.modal{
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;

}


.description{
width:100%;
display: grid;
grid-template-columns: 70rem 1fr;
padding: 4rem 2rem 6rem 2rem;
overflow: auto;

grid-template-areas: 'A B';
gap: 3.0rem;

  .text{
    text-align: left;
    grid-area: 'A';
    align-self: center;
    .title {
      font-size: 3rem;
      line-height: 3rem;
      color: black;
      text-transform: uppercase;
      padding-bottom: 2rem;

    }
    .about{

      font-size: 1.5rem;
      text-align: left;

    }

  }
  .image1{
    width: 100%;
    border-radius: 2rem;
    grid-area: B;
  }

}

@media(max-width:600px){
  .description{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'A'
      'B';

    }
}

